<div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
  <h5 class="card-header"><%= @sticky_note.title %></h5>
  <div class="card-body">
    <%# <h5 class="card-title">Warning card title</h5> %>
    <small class="card-text"><%= @sticky_note.body %></small>
  </div>
</div>


<%= link_to 'Edit', edit_sticky_note_path(@sticky_note), class: "btn btn-primary btn-sm" %> 
<%= link_to 'Back', sticky_notes_path, class: "btn btn-primary btn-sm" %>
