<div class="card text-dark bg-warning mx-auto" style="max-width: 18rem;">
  <h5 class="card-header"><%= @sticky_note.title %></h5>
  <div class="card-body">
    <%# <h5 class="card-title">Warning card title</h5> %>
    <small class="card-text"><%= @sticky_note.body %></small>
  </div>
</div>
