<div class="card text-dark bg-warning mb-3" style="max-width: 20rem;">
  <h5 class="card-header">About</h5>
  <div class="card-body">
    <small class="card-text">
    This is a simple online sticky note app that allows the user to create a sticky note, write anything, and post it on the board. 
    This app was made with simple CRUD (create, read, update, delete) functionality, which means each note created can also be edited or destroyed.
    <br/><br/>
    © 2022 Nico Pleyto 
    </small>
  </div>
</div>